@use "../../../../styles/constants/colors" as colors;
@use "../../../../styles/constants/mixins" as mixins;

#ai_conversation {
  @include mixins.flexmixin(column, nowrap, flex-start, space-between, 0);
  width: 100%;
  height: 34rem;
  padding: 0 0.5rem;

  .title_close {
    @include mixins.flexmixin(row, nowrap, center, space-between, 0);
    width: 100%;
    position: sticky;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid colors.$divider;

    p {
      font-weight: 500;
    }

    button {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 50%;
      color: colors.$text_secondary;
      background-color: colors.$divider;
    }
  }

  .ai_input {
    @include mixins.flexmixin(row, nowrap, center, space-between, 0);
    position: sticky;
    width: 100%;
    height: 3rem;
    padding-top: 0.375rem;
    border-top: 1px solid colors.$divider;

    input {
      width: calc(100% - 3rem);
      height: 100%;
      font-weight: 400;
    }

    button {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      color: colors.$bg_secondary;
      background-color: colors.$brand;

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
