@use "../../../../styles/constants/colors" as colors;
@use "../../../../styles/constants/mixins" as mixins;

#left_nav {
  @include mixins.flexmixin(column, nowrap, center, space-between, 0);
  width: 100%;
  height: 100%;

  img {
    width: 2.75rem;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
  }

  .top {
    .app_menu {
      margin-bottom: 1.5rem;
    }
  }

  .top,
  .bottom {
    @include mixins.flexmixin(column, nowrap, center, center, 0.5rem);

    .nav_action {
      @include mixins.flexmixin(row, nowrap, center, center, 0);
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid colors.$bg_primary;
      border-radius: 0.5rem;
      transition: all ease-in-out 0.25s;

      &:hover {
        border-color: colors.$divider_brand;
      }

      &.active {
        border-color: colors.$divider_brand;
      }
    }
  }

  .bottom {
    .profile_pic {
      margin-top: 1rem;
    }
  }
}
