@use "../../../../styles/constants/colors" as colors;
@use "../../../../styles/constants/mixins" as mixins;

#chatheader {
  @include mixins.flexmixin(row, nowrap, center, space-between, 0);
  width: 100%;
  height: 3.5rem;
  padding: 0.875rem;
  border-radius: 0.875rem;
  background-color: colors.$bg_secondary;

  .title {
    @include mixins.flexmixin(row, nowrap, center, flex-start, 0.25rem);
    font-weight: 500;
  }

  .search_actions {
    @include mixins.flexmixin(row, nowrap, center, flex-end, 0.75rem);

    .no_notifications {
      font-size: 0.875rem;
      font-weight: 500;
      text-align: center;
    }

    .header_action {
      width: 2rem;
      height: 2rem;
      border: 1px solid colors.$divider;
      border-radius: 0.5rem;
    }

    .divider {
      width: 1px;
      height: 1.5rem;
      background-color: colors.$divider;
    }

    .details {
      @include mixins.flexmixin(row, nowrap, center, center, 0.25rem);
      padding: 0.25rem 0.375rem;
      border-radius: 0.5rem;
      transition: all ease-in-out 0.25s;

      &:hover {
        background-color: rgba($color: colors.$divider, $alpha: 0.5);
      }

      img {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
      }
    }
  }
}
