@use "../../../../styles/constants/colors" as colors;
@use "../../../../styles/constants/mixins" as mixins;

.create_message {
  @include mixins.flexmixin(row, nowrap, center, space-between, 0);

  p {
    font-weight: 500;
  }

  .create {
    @include mixins.flexmixin(row, nowrap, center, center, 0.375rem);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$bg_secondary;
    background-color: colors.$brand;
  }
}
