@use "../../../../styles/constants/colors" as colors;
@use "../../../../styles/constants/mixins" as mixins;

.create_message {
  @include mixins.flexmixin(row, nowrap, center, space-between, 0);

  p {
    font-weight: 500;
  }

  .create {
    @include mixins.flexmixin(row, nowrap, center, center, 0.375rem);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$bg_secondary;
    background-color: colors.$brand;
  }
}

#new_messagee {
  max-height: 25rem;
  padding: 0.5rem;

  ._title {
    font-weight: 500;
  }

  #search_users {
    @include mixins.flexmixin(row, nowrap, center, flex-start, 0.5rem);
    margin-top: 1rem;
    padding: 0.375rem;
    border-radius: 0.5rem;
    border: 1px solid colors.$divider;

    input {
      width: 95%;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  .available_users {
    @include mixins.flexmixin(column, nowrap, flex-start, flex-start, 0.375rem);
    margin-top: 0.5rem;

    .user_picker {
      @include mixins.flexmixin(row, nowrap, center, flex-start, 0.5rem);

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      span {
        font-size: 0.875rem;
        font-weight: 500;
      }
    }
  }
}
