@use "../../../../styles/constants/colors" as colors;
@use "../../../../styles/constants/mixins" as mixins;

#conversation_messages {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0.75rem;
  border-radius: 1rem;
  background-color: colors.$bg_cards;

  .chat_message_ctr {
    @include mixins.flexmixin(row, nowrap, flex-start, flex-start, 0);
    margin-bottom: 0.5rem;

    .chat_message {
      @include mixins.flexmixin(row, nowrap, flex-start, flex-start, 0.25rem);
      max-width: 60%;

      ._message_timer {
        @include mixins.flexmixin(
          column,
          nowrap,
          flex-start,
          flex-start,
          0.25rem
        );

        ._message_media {
          img {
            max-width: 100%;
            max-height: 250px;
            border-radius: 0.5rem;
            object-fit: contain;
          }
        }

        .voice_message_player {
          @include mixins.flexmixin(row, nowrap, center, flex-start, 0.375rem);
          background-color: colors.$bg_secondary;
          padding: 0.375rem;
          padding-right: 0.75rem;
          border-radius: 1.5rem;
          min-width: 12.5rem;
          max-width: 17rem;

          .play_pause_btn {
            @include mixins.flexmixin(row, nowrap, center, center, 0);
            width: 2.25rem;
            height: 2.25rem;
            min-width: 2.25rem;
            border-radius: 50%;
            background-color: colors.$brand;
            color: colors.$bg_primary;
            transition: all 0.2s;

            &:hover {
              opacity: 0.9;
            }
          }

          .progress_bar {
            width: 100%;
            height: 0.25rem;
            appearance: none;
            background-color: darken(colors.$bg_secondary, 10%);
            border-radius: 0.25rem;
            outline: none;
            outline-color: transparent;

            &::-webkit-slider-thumb {
              appearance: none;
              width: 0.625rem;
              height: 0.625rem;
              border-radius: 50%;
              background-color: colors.$brand;
              cursor: pointer;
            }
          }
        }

        ._message_docs {
          @include mixins.flexmixin(
            column,
            nowrap,
            flex-start,
            flex-start,
            0.125rem
          );

          a {
            color: colors.$text_primary;
            font-size: 0.875rem;
            font-weight: 500;
            text-decoration: underline;
            word-break: break-all;
            color: colors.$secondary;
          }
        }

        ._message {
          display: inline-block;
          padding: 0.35rem 0.625rem;
          border-radius: 0.875rem;
          font-size: 0.875rem;
          font-weight: 500;
          background-color: colors.$bg_secondary;
          overflow-wrap: break-word;
          line-height: 1.5;
          max-width: 100%;

          a,
          .mantine-HoverCard-target {
            display: inline !important;
            color: colors.$secondary;
            text-decoration: underline;
            word-break: break-all;
            margin: 0;
            cursor: pointer;
          }
        }

        ._timer {
          font-size: 0.75rem;
          font-weight: 600;
        }
      }
    }

    &.chat_message_sent {
      justify-content: flex-end;

      .chat_message {
        flex-direction: row-reverse;
      }

      ._message_timer {
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }

  .no_messages {
    @include mixins.flexmixin(column, nowrap, center, center, 0.25rem);
    width: 100%;
    height: 100%;
    color: colors.$text_secondary;

    span {
      text-align: center;
    }
  }
}
