@use "../../../../styles/constants/colors" as colors;
@use "../../../../styles/constants/mixins" as mixins;

#conversation_messages {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 1.5rem;
  border-radius: 1rem;
  background-color: colors.$bg_tertiary;

  .chat_message_ctr {
    @include mixins.flexmixin(row, nowrap, flex-start, flex-start, 0);

    .chat_message {
      @include mixins.flexmixin(row, nowrap, flex-start, flex-start, 0.25rem);
      max-width: 90%;

      @include mixins.desktop() {
        max-width: 60%;
      }

      ._profile {
        width: 2.25rem;
        height: 2.25rem;
        object-fit: contain;
        object-position: center;
        border: 1px solid colors.$divider;
        border-radius: 50%;
      }

      ._message_timer {
        @include mixins.flexmixin(column, nowrap, flex-end, flex-end, 0);

        ._message {
          padding: 0.25rem 0.625rem;
          border-radius: 0.875rem;
          font-size: 0.875rem;
          font-weight: 500;
          background-color: rgba($color: colors.$divider, $alpha: 0.125);
        }

        ._timer {
          font-size: 0.75rem;
          font-weight: 600;
        }
      }
    }

    &.chat_message_sent {
      justify-content: flex-end;

      .chat_message {
        flex-direction: row-reverse;
      }

      ._message_timer {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    // &.chat_message_received {
    // }
  }

  .no_messages {
    @include mixins.flexmixin(column, nowrap, center, center, 0.25rem);
    width: 100%;
    height: 100%;
    color: colors.$text_secondary;

    span {
      text-align: center;
    }
  }
}
