@use "../../../../styles/constants/colors" as colors;
@use "../../../../styles/constants/mixins" as mixins;

#conversation_header {
  @include mixins.flexmixin(row, nowrap, center, space-between, 0);
  position: sticky;
  width: 100%;
  height: 3rem;
  margin-bottom: 0.5rem;

  .profile_uname {
    @include mixins.flexmixin(row, nowrap, center, flex-start, 0.5rem);
    cursor: pointer;

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }

    .uname_status {
      @include mixins.flexmixin(column, nowrap, flex-start, flex-start, 0);
      font-size: 0.875rem;
      font-weight: 500;

      span {
        font-size: 0.75rem;
        color: colors.$text_secondary;
      }
    }
  }

  .header_actions {
    @include mixins.flexmixin(row, nowrap, center, flex-end, 0.75rem);

    button {
      @include mixins.flexmixin(row, nowrap, center, center, 0);
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 0.5rem;
      border: 1px solid colors.$divider;
    }
  }
}

.btn_close_chat {
  @include mixins.flexmixin(row, nowrap, center, flex-start, 0.25rem);
  width: 100%;
  padding: 0 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
}

#contact_info {
  width: 100%;
  height: 100%;
  padding-top: 1.5rem;
  overflow-y: auto;

  .img_uname {
    @include mixins.flexmixin(column, nowrap, center, center, 0.5rem);
    width: 100%;

    img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
    }

    p {
      text-align: center;
      font-weight: 500;

      span {
        font-size: 0.875rem;
        font-weight: 300;
        color: colors.$text_secondary;
      }
    }
  }

  .calls {
    @include mixins.flexmixin(row, nowrap, center, space-between, 0);
    margin: 1.5rem 0;

    button {
      @include mixins.flexmixin(row, nowrap, center, center, 0.5rem);
      width: 48%;
      padding: 0.375rem;
      border: 1px solid colors.$divider;
      border-radius: 0.5rem;
      font-size: 0.875rem;
      font-weight: 400;
      transition: all ease-in-out 0.25s;

      &:hover {
        background-color: colors.$bg_tertiary;
      }
    }
  }

  .media_date {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: colors.$text_secondary;
  }

  .media_images {
    @include mixins.flexmixin(row, wrap, center, flex-start, 0.375rem);

    img {
      width: 48%;
      border-radius: 0.75rem;
    }
  }

  .media_links_docs {
    a {
      @include mixins.flexmixin(row, nowrap, center, flex-start, 0.375rem);
      display: inline-block;
      text-decoration: none;
      outline: none;
      color: colors.$text_primary;
      font-size: 0.875rem;
      font-weight: 500;

      span {
        @include mixins.flexmixin(row, nowrap, center, center, 0);
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        background-color: colors.$bg_tertiary;
      }
    }
  }
}

.list {
  position: relative;
  margin-bottom: var(--mantine-spacing-md);
}

.indicator {
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-gray-2);
  box-shadow: var(--mantine-shadow-sm);

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
  }
}

.tab {
  z-index: 1;
  font-weight: 500;
  transition: color 100ms ease;
  color: var(--mantine-color-gray-7);

  &[data-active] {
    color: var(--mantine-color-black);
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);

    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}
