@use "../../../../styles/constants/colors" as colors;
@use "../../../../styles/constants/mixins" as mixins;

#messageinput {
  @include mixins.flexmixin(row, nowrap, center, space-between, 0);
  position: sticky;
  height: 3rem;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
  border: 1px solid colors.$divider;
  border-radius: 2rem;

  input {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
  }

  .input_actions {
    @include mixins.flexmixin(row, nowrap, center, flex-end, 0.5rem);

    button {
      @include mixins.flexmixin(row, nowrap, center, center, 0);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    .send_message {
      width: 2.25rem;
      height: 2.25rem;
      color: colors.$bg_secondary;
      background-color: colors.$brand;
    }
  }
}
