@use "../../../../styles/constants/colors" as colors;
@use "../../../../styles/constants/mixins" as mixins;

#messageinput {
  @include mixins.flexmixin(row, nowrap, center, space-between, 0);
  position: sticky;
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
  border: 1px solid colors.$divider;
  border-radius: 2rem;

  input {
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: transparent;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .input_actions {
    @include mixins.flexmixin(row, nowrap, center, flex-end, 0.5rem);

    button {
      @include mixins.flexmixin(row, nowrap, center, center, 0);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    .send_message {
      width: 2.25rem;
      height: 2.25rem;
      color: colors.$bg_secondary;
      background-color: colors.$brand;

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  .recording_active {
    @include mixins.flexmixin(row, nowrap, center, space-between, 0);
    width: 100%;
    padding: 0 0.5rem;

    .recording_indicator {
      @include mixins.flexmixin(row, nowrap, center, flex-start, 0.5rem);

      .red_dot {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        animation: pulse 1s infinite alternate;
      }

      @keyframes pulse {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0.3;
        }
      }
    }

    .recording_actions {
      @include mixins.flexmixin(row, nowrap, center, flex-end, 0.5rem);

      button {
        @include mixins.flexmixin(row, nowrap, center, center, 0);
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
      }

      .stop_btn {
        background-color: rgba(colors.$brand, 0.1);
      }

      .cancel_btn {
        background-color: rgba(red, 0.1);
      }
    }
  }
}

#emoji_picker {
  @include mixins.flexmixin(row, wrap, flex-start, space-between, 0.25rem);
  padding: 0 0.375rem;

  button {
    width: 2rem;
    height: 2rem;
    border-radius: 0.375rem;
    background-color: colors.$bg_tertiary;
    transition: all ease-in-out 0.25s;

    &:hover {
      background-color: colors.$divider;
    }
  }
}
