@use "../../styles/constants/colors" as colors;
@use "../../styles/constants/mixins" as mixins;

#splash {
  @include mixins.flexmixin(column, nowrap, center, center, 0);
  width: 100vw;
  height: 100vh;

  #svg_animation_ctr {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: transparent;
  }

  #contents {
    @include mixins.flexmixin(column, nowrap, center, center, 0.875rem);
    width: 100%;
    height: 100%;

    .intro {
      @include mixins.flexmixin(row, nowrap, center, center, 0.375rem);

      img {
        width: 2rem;
        height: 2rem;
      }

      span {
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    .intro_name {
      text-align: center;
      font-size: 3rem;
      font-weight: 400;

      span {
        font-weight: 600;
        color: colors.$secondary;
      }
    }

    #signin {
      @include mixins.usebasefont();
      gap: 0.5rem;
      padding: 0.75rem 4rem;
      border-radius: 1rem;
      font-size: 1.025rem;
      font-weight: 600;
      color: colors.$bg_primary;
      background-color: colors.$text_primary;

      &:hover {
        .icon_ctr {
          .icon {
            animation: animateicon;
            animation-duration: 200ms;
            animation-delay: 0;
            animation-direction: alternate;
            animation-fill-mode: both;
            animation-timing-function: ease-in;

            @keyframes animateicon {
              to {
                transform: translateX(0) scale(1);
                opacity: 1;
              }
              from {
                transform: translateX(-1rem) scale(0.5);
                opacity: 0;
              }
            }
          }
        }
      }

      .icon_ctr {
        @include mixins.flexmixin(column, nowrap, center, center, 0);
        width: 1.5rem;
        height: 1.5rem;
        background-color: colors.$bg_primary;
        border-radius: 50%;

        .icon {
          color: colors.$text_primary;
        }
      }
    }

    .previews {
      @include mixins.flexmixin(row, nowrap, center, center, 1.5rem);
      margin-top: 1.5rem;

      .skeleton_ctr {
        width: 12rem;
        padding: 0.75rem;
        border-radius: 0.875rem;
        background-color: colors.$bg_secondary;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        transition: transform 0.3s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.05) translateY(-0.5rem) !important;
          z-index: 10;
        }

        &:nth-child(1) {
          transform: translateY(2rem) rotate(-4deg);
        }
        &:nth-child(2) {
          transform: translateY(-0.5rem) rotate(2deg);
        }
        &:nth-child(3) {
          transform: translateY(1.5rem) rotate(-2deg);
        }
        &:nth-child(4) {
          transform: translateY(-1.5rem) rotate(4deg);
        }
        &:nth-child(5) {
          transform: translateY(1rem) rotate(-3deg);
        }

        .img_uname {
          @include mixins.flexmixin(column, nowrap, center, center, 0.25rem);

          img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
          }

          .user_name {
            font-size: 0.75rem;
            font-weight: 800;
          }
        }

        .msg {
          font-size: 0.875rem;
          font-weight: 400;
        }

        .time {
          font-size: 0.75rem;
          font-weight: 500;
          color: colors.$text_secondary;
        }
      }
    }
  }
}

#animation_ctr {
  @include mixins.flexmixin(row, nowrap, center, center, 0);
  width: 100%;
  height: 100%;
}
