@use "../../styles/constants/colors" as colors;
@use "../../styles/constants/mixins" as mixins;

#splash {
  padding: 1rem;
  width: 100vw;
  height: 100vh;

  @include mixins.tablet-upwards() {
    padding: 1rem 3rem;
  }

  @include mixins.desktop() {
    padding: 3rem 6rem;
  }

  @include mixins.flexmixin(column, nowrap, center, center, 0);

  #els {
    @include mixins.flexmixin(row, nowrap, center, center, 3rem);

    .els_icon_ctr {
      @include mixins.flexmixin(row, nowrap, center, center, 0);
      padding: 0.5rem;
      border: 1px solid colors.$divider;
      border-radius: 1rem;
      cursor: pointer;
      animation: floatRotate 3s ease-in-out infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.3s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      @keyframes floatRotate {
        0% {
          transform: rotate(-10deg) scale(1);
        }
        25% {
          transform: rotate(5deg) scale(1.15);
        }
        50% {
          transform: rotate(10deg) scale(1);
        }
        75% {
          transform: rotate(-5deg) scale(1.15);
        }
        100% {
          transform: rotate(-10deg) scale(1);
        }
      }

      &:hover {
        animation-play-state: paused;
        transform: scale(1.2);
        transition: transform 0.2s ease;
      }
    }
  }

  .els_above {
    margin-bottom: 2rem;

    .els_icon_ctr {
      margin: 0 1rem;

      &.mid {
        margin-bottom: 4rem;
      }
    }
  }

  .els_below {
    margin-top: 2rem;

    .els_icon_ctr {
      margin: 0 1rem;

      &.mid {
        margin-top: 4rem;
      }
    }
  }

  #signin {
    @include mixins.usebasefont();
    gap: 0.5rem;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    font-size: 1.025rem;
    font-weight: 600;
    color: colors.$bg_primary;
    background-color: colors.$text_primary;

    &:hover {
      .icon_ctr {
        .icon {
          animation: animateicon;
          animation-duration: 200ms;
          animation-delay: 0;
          animation-direction: alternate;
          animation-fill-mode: both;
          animation-timing-function: ease-in;

          @keyframes animateicon {
            to {
              transform: translateX(0) scale(1);
              opacity: 1;
            }
            from {
              transform: translateX(-1rem) scale(0.5);
              opacity: 0;
            }
          }
        }
      }
    }

    .icon_ctr {
      @include mixins.flexmixin(column, nowrap, center, center, 0);
      width: 1.5rem;
      height: 1.5rem;
      background-color: colors.$bg_primary;
      border-radius: 50%;

      .icon {
        color: colors.$text_primary;
      }
    }
  }
}

#animation_ctr {
  @include mixins.flexmixin(row, nowrap, center, center, 0);
  width: 100%;
  height: 100%;
}
